body {
    background: url(buenosaires.jpg) center/cover no-repeat;
    margin: 0;
    color: #fff;
}

#clockContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    font: bold 7.4rem Arial, sans-serif;
    text-align: center;
    backdrop-filter: blur(3px);
    background-color: hsla(0, 0%, 50%, 0.11);
    width: 100%;
}
